@import "tailwindcss";

@theme {
  --font-maven: "Maven Pro", sans-serif;

  @keyframes float {

    0%,
    100% {
      transform: translateY(0px)
    }

    50% {
      transform: translateY(-20px)
    }
  }

  @keyframes fade-in {
    0% {
      opacity: 0
    }

    100% {
      opacity: 1
    }
  }

  @keyframes slide-up {
    0% {
      height: 62px;
    }

    100% {
      height: 0;
    }
  }

  @keyframes slide-down {
    0% {
      height: 0
    }

    100% {
      height: 62px;
    }
  }

  @keyframes slide-lr-in {
    0% {
      transform: translateX(-100%);
    }

    100% {
      transform: translateX(0);
    }
  }

  @keyframes slide-lr-out {
    0% {
      transform: translateX(0);
    }

    100% {
      transform: translateX(-100%);
    }
  }

  --animate-float: float 6s ease-in-out infinite;
  --animate-fade-in: fade-in 0.8s ease-out;
  --animate-slide-up: slide-up 0.2s ease-out;
  --animate-slide-down: slide-down 0.2s ease-out;
  --animate-slide-lr-in: slide-lr-in 0.2s ease-out;
  --animate-slide-lr-out: slide-lr-out 0.2s ease-out;
}

@layer utilities {
  * {
    font-family: var(--font-maven);
    text-rendering: optimizeLegibility;
  }

  .logo-header svg path {
    @apply !fill-[var(--color-logo)];
  }

  #artigos h2,
  #policy h2 {
    @apply !text-[1.375rem] font-bold mt-8;
  }

  #artigos h3,
  #policy h3 {
    @apply text-[1.125rem] font-bold mt-8;
  }

  #artigo * {
    @apply text-stone-800 !leading-[1.6];
  }

  #artigo *,
  #artigo :not(h1, h2, h3) {
    @apply text-base;
  }

  #artigo ul {
    @apply list-disc space-y-2 pl-5 marker:text-[var(--color-listas)] marker:text-xl;
  }

  #artigo ol {
    @apply list-decimal space-y-2 pl-5 marker:text-[var(--color-listas)];
  }

  #artigo>a {
    @apply text-[var(--color-links)] !underline;
  }

  .gprodemi-image-block,
  .imagemPost-radius {
    @apply w-full max-w-[610px] m-auto my-8 rounded-lg border border-gray-200 overflow-hidden text-center my-16;
  }

  .gprodemi-image-block img,
  .imagemPost-radius img {
    @apply w-full;
  }

  .gprodemi-image-block-text,
  .imagemPost-radius P {
    @apply text-sm text-stone-800 !m-0 p-1.5;
  }

  .block-editor-block-list__block .wp-block-image,
  .wp-block-image {
    @apply !w-full !max-w-[610px] !my-16 !mx-auto !text-center;
  }

  .block-editor-block-list__block .wp-block-image img,
  .wp-block-image img {
    @apply !w-full !h-auto !rounded-xl !rounded-b-none !border !border-b-0 !border-gray-200;
  }

  .block-editor-block-list__block .wp-block-image.alignright,
  .wp-block-image.alignright {
    @apply !mr-0 !ml-auto !float-none;
  }

  .block-editor-block-list__block .wp-block-image.alignleft,
  .wp-block-image.alignleft {
    @apply !ml-0 !mr-auto !float-none;
  }

  .block-editor-block-list__block .wp-element-caption,
  .wp-element-caption {
    @apply !text-sm !text-stone-800 !m-0 p-1.5 !border !border-gray-200 !rounded-b-lg;
  }

  .container {
    @apply mx-auto;
    @apply max-w-7xl;
  }

  .blocoApps,
  .block-blocoApps {
    @apply my-16 w-full flex flex-col md:flex-row relative pt-5.5 gap-6 border border-gray-200 border-t-0 rounded-lg overflow-hidden p-4;
  }

  .blocoApps-imagem {
    @apply max-w-[400px] overflow-hidden rounded-xl;
    float: left;
  }

  .blocoApps-imagem img {
    max-width: 100%;
  }

  .blocoApps-textos {
    @apply flex-1 flex flex-col;
  }

  .blocoApps-textos .blocoApps-link {
    @apply mt-auto;
  }

  .blocoApps-t1 {
    @apply font-semibold;
  }

  .blocoApps-t2 {
    @apply !text-black !text-2xl !font-semibold mt-1;
  }

  .blocoApps-t3 {
    @apply !text-stone-800 !text-sm mt-2;
  }

  .blocoApps-t4 {
    @apply !text-stone-800 !text-sm text-right mt-2;
  }

  .blocoApps-link,
  .block-blocoApps-link {
    @apply bg-[var(--color-botao)] !text-white px-4 py-1 rounded mt-4 uppercase ml-auto text-center !text-base hover:bg-[var(--color-botao)]/60 transition-colors;
    text-decoration: none !important;
  }

  .block-blocoApps-link {
    @apply !bg-black;
  }

  .blocoApps img {
    @apply rounded-xl flex-1 max-w-full h-auto inline-block;
  }

  .blocoApps::before,
  .leiaTambem::before {
    @apply w-full h-1.5 container mx-auto bg-gradient-to-r rounded-full from-[var(--color-divider)]/50 to-gray-100 content-[''] absolute top-0 left-0;
  }

  .block-blocoApps::before {
    @apply w-full h-1.5 container mx-auto bg-gradient-to-r rounded-full from-black/50 to-gray-100 content-[''] absolute top-0 left-0;
  }

  .leiaTambem {
    @apply mt-6 mb-2 w-full flex flex-col pt-5.5 gap-2 border border-gray-200 border-t-0 rounded-lg overflow-hidden relative;
  }

  .leiaTambem-t1 {
    @apply !font-medium !text-black !text-xl px-4;
  }

  .leiaTambem-links {
    @apply flex flex-col flex-wrap gap-2 list-disc divide-y divide-gray-200;
  }

  .leiaTambem-link,
  .block-leiaTambem-link {
    @apply relative p-4 pl-9 text-[var(--color-links)] !no-underline hover:!underline;
  }

  .leiaTambem-link::before {
    @apply content-[''] top-1/2 -translate-y-1/2 w-2 h-2 rounded-full absolute bg-current left-4;
  }

  .block-leiaTambem-link::before {
    @apply content-[''] top-auto -translate-y-1/2 w-2 h-2 rounded-full absolute bg-current left-4;
  }

  .leiaTambem-footer {
    @apply !text-stone-800 !text-sm text-right;
  }

  .wp-block-gprodemi-faq-block .faq-item {
    @apply border-b border-gray-200 cursor-pointer;
  }

  .wp-block-gprodemi-faq-block .faq-item[open] .faq-question::after,
  .wp-block-gprodemi-faq-block .faq-item[open] .block-faq-question::after {
    @apply -rotate-180;
  }

  .wp-block-gprodemi-faq-block .faq-question,
  .wp-block-gprodemi-faq-block .block-faq-question {
    @apply py-7 pr-8 !font-semibold !text-black relative list-none transition-transform duration-300;
  }

  .wp-block-gprodemi-faq-block .faq-question::after,
  .wp-block-gprodemi-faq-block .block-faq-question::after {
    @apply absolute top-1/2 -translate-y-1/2 right-0 text-lg rounded-full transition-transform duration-300;
    content: '\f078';
    font-family: "Font Awesome 6 Free";
    font-weight: 900;
  }

  .wp-block-gprodemi-faq-block .block-faq-question::after {
    @apply top-auto;
  }

  .wp-block-gprodemi-faq-block .faq-answer {
    @apply !font-light pb-7;
  }

  .linksInternos,
  .block-linksInternos {
    @apply my-8 w-full flex flex-col gap-4;
  }

  .linksInternos-a,
  .block-linksInternos-a {
    @apply !no-underline !font-medium !text-base !text-black rounded-xl p-4 pr-14 relative text-left transition-colors duration-100 md:!text-[var(--color-links)] md:!bg-white !bg-[var(--color-links)] !text-white border border-[var(--color-links)];
  }

  .linksInternos-a:hover,
  .block-linksInternos-a:hover {
    @apply md:!bg-[var(--color-links)]/10 !bg-[var(--color-links)]/80;
  }

  .linksInternos-a::after,
  .block-linksInternos-a::after {
    @apply top-1/2 -translate-y-1/2 rounded-full absolute right-4;
    content: '\f054 \f054 \f054';
    font-family: "Font Awesome 6 Free";
    font-weight: 900;
  }

  .block-linksInternos-a::after {
    @apply top-auto;
  }

  .page-links {
    @apply !text-stone-800 !text-sm my-12;
  }

  .page-link {
    @apply !text-[var(--color-botao)] !text-base p-2.5 px-5 border border-[var(--color-botao)] hover:bg-[var(--color-botao)] hover:!text-white font-semibold rounded-lg mr-1;
  }

  .page-links .current .page-link {
    @apply !bg-[var(--color-botao)] !text-white !cursor-not-allowed;
  }

  .footer-menu :not(:last-child)::after {
    @apply ml-2 md:content-['/'];
  }

  .menu-item {
    @apply py-2;
  }
}