@import "tailwindcss";

@theme {
  --font-maven: "Maven Pro", sans-serif;

  @keyframes float {

    0%,
    100% {
      transform: translateY(0px)
    }

    50% {
      transform: translateY(-20px)
    }
  }

  @keyframes fade-in {
    0% {
      opacity: 0
    }

    100% {
      opacity: 1
    }
  }

  @keyframes slide-up {
    0% {
      height: 62px;
    }

    100% {
      height: 0;
    }
  }

  @keyframes slide-down {
    0% {
      height: 0
    }

    100% {
      height: 62px;
    }
  }

  @keyframes slide-lr-in {
    0% {
      transform: translateX(-100%);
    }

    100% {
      transform: translateX(0);
    }
  }

  @keyframes slide-lr-out {
    0% {
      transform: translateX(0);
    }

    100% {
      transform: translateX(-100%);
    }
  }

  --animate-float: float 6s ease-in-out infinite;
  --animate-fade-in: fade-in 0.8s ease-out;
  --animate-slide-up: slide-up 0.2s ease-out;
  --animate-slide-down: slide-down 0.2s ease-out;
  --animate-slide-lr-in: slide-lr-in 0.2s ease-out;
  --animate-slide-lr-out: slide-lr-out 0.2s ease-out;
}

@layer utilities {
  * {
    font-family: var(--font-maven);
    text-rendering: optimizeLegibility;
  }

  @font-face {
    font-family: 'icomoon';
    src: url('../font/icomoon.eot?gmy3hg');
    src: url('../font/icomoon.eot?gmy3hg#iefix') format('embedded-opentype'),
      url('../font/icomoon.ttf?gmy3hg') format('truetype'),
      url('../font/icomoon.woff?gmy3hg') format('woff'),
      url('../font/icomoon.svg?gmy3hg#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: block;
  }

  [class^="icon-"],
  [class*=" icon-"] {
    font-family: 'icomoon' !important;
    speak: never;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;

    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }

  #artigos h2,
  #policy h2 {
    @apply font-bold mt-8 !text-black;
    font-size: 1.375rem;
  }

  #artigos h3,
  #policy h3 {
    @apply font-bold mt-8 !text-black;
  }

  #artigo {
    @apply text-[#666666];
  }

  #artigo * {
    @apply !leading-[1.6];
  }

  #artigo *,
  #artigo :not(h1, h2, h3) {
    font-size: 1.125rem;
  }

  #artigo ul {
    @apply list-disc space-y-2 pl-5 marker:text-[var(--color-listas)] marker:text-xl ml-2;
  }

  #artigo ol {
    @apply list-decimal space-y-2 pl-5 marker:text-[var(--color-listas)] ml-2;
  }

  #artigo a {
    @apply text-[var(--color-links)] underline;
  }
  
  #artigo form {
    @apply flex flex-col gap-4;
  }

  #artigo form input:not([type="submit"]), #artigo form textarea {
    @apply w-full border border-gray-300 rounded-lg p-2.5;
  }

  #artigo form input[type="submit"] {
    @apply bg-[var(--color-botao)] !text-white cursor-pointer px-4 py-1 rounded-lg hover:bg-[var(--color-botao)]/70 transition-colors;
  }

  .gprodemi-image-block,
  .imagemPost-radius {
    @apply w-full max-w-[610px] m-auto my-8 rounded-lg border border-gray-200 overflow-hidden text-center my-16;
  }

  .gprodemi-image-block img,
  .imagemPost-radius img {
    @apply w-full;
  }

  .imagemPost-radius .wp-caption {
    @apply !w-full;
  }

  .gprodemi-image-block-text,
  .imagemPost-radius P {
    @apply text-sm text-gray-600 !m-0 p-1.5;
  }

  .block-editor-block-list__block .wp-block-image,
  .wp-block-image {
    @apply !w-full !max-w-[610px] !my-16 !mx-auto !text-center;
  }

  .block-editor-block-list__block .wp-block-image img,
  .wp-block-image img {
    @apply !w-full !h-auto !rounded-xl !rounded-b-none !border !border-b-0 !border-gray-200;
  }

  .block-editor-block-list__block .wp-block-image.alignright,
  .wp-block-image.alignright {
    @apply !mr-0 !ml-auto !float-none;
  }

  .block-editor-block-list__block .wp-block-image.alignleft,
  .wp-block-image.alignleft {
    @apply !ml-0 !mr-auto !float-none;
  }

  .block-editor-block-list__block .wp-element-caption,
  .wp-element-caption {
    @apply !text-sm !text-gray-600 !m-0 p-1.5 !border !border-gray-200 !rounded-b-lg;
  }

  .container {
    @apply mx-auto;
    @apply max-w-7xl;
  }

  .blocoApps,
  .block-blocoApps {
    @apply my-16 w-full flex flex-col md:flex-row relative pt-5.5 gap-6 border border-gray-200 border-t-0 rounded-lg overflow-hidden p-4;
  }

  .blocoApps-imagem {
    @apply max-w-[400px] overflow-hidden rounded-xl;
    float: left;
  }

  .blocoApps-imagem img {
    max-width: 100%;
  }

  .blocoApps-textos {
    @apply flex-1 flex flex-col;
  }

  .blocoApps-link {
    @apply mt-7.5 md:mt-auto !no-underline;
  }

  .blocoApps-t1 {
    @apply font-semibold;
  }

  .blocoApps-t2 {
    @apply !text-black !text-2xl !font-semibold mt-1;
  }

  .blocoApps-t3 {
    @apply !text-gray-600 !text-base mt-2;
  }

  .blocoApps-t4 {
    @apply !text-gray-600 !text-sm text-right mt-2;
  }

  .blocoApps-link,
  .block-blocoApps-link {
    @apply bg-[var(--color-botao)] !text-white px-4 py-1 rounded uppercase mt-4 ml-auto text-center !text-base hover:bg-[var(--color-botao)]/60 transition-colors ;
  }

  .block-blocoApps-link {
    @apply !bg-black;
  }

  .blocoApps img {
    @apply rounded-xl flex-1 max-w-full h-auto inline-block;
  }

  .blocoApps::before,
  .leiaTambem::before,
  .soccer-block::before {
    @apply w-full h-1.5 container mx-auto bg-gradient-to-r rounded-full from-[var(--color-divider)]/50 to-gray-100 content-[''] absolute top-0 left-0;
  }

  .block-leiaTambem::before, .block-soccer-block::before, .block-blocoApps::before {
    @apply w-full h-1.5 container mx-auto bg-gradient-to-r rounded-full from-black/50 to-gray-100 content-[''] absolute top-0 left-0;
  }

  .leiaTambem {
    @apply mt-6 mb-2 w-full flex flex-col pt-5.5 gap-2 border border-gray-200 border-t-0 rounded-lg overflow-hidden relative;
  }

  .leiaTambem-t1 {
    @apply !font-medium !text-black !text-xl px-4;
  }

  .leiaTambem-links {
    @apply flex flex-col flex-wrap gap-2 list-disc divide-y divide-gray-200;
  }

  .leiaTambem-link,
  .block-leiaTambem-link {
    @apply relative p-4 pl-9 !text-[var(--color-links)] !no-underline hover:!underline;
  }

  .leiaTambem-link::before {
    @apply content-[''] top-1/2 -translate-y-1/2 w-2 h-2 rounded-full absolute bg-current left-4;
  }

  .block-leiaTambem-link::before {
    @apply content-[''] top-auto -translate-y-1/2 w-2 h-2 rounded-full absolute bg-current left-4;
  }

  .leiaTambem-footer {
    @apply !text-gray-600 !text-sm text-right;
  }

  .wp-block-gprodemi-faq-block .faq-item {
    @apply border-b border-gray-200 cursor-pointer;
  }

  .wp-block-gprodemi-faq-block .faq-item[open] .faq-question::after,
  .wp-block-gprodemi-faq-block .faq-item[open] .block-faq-question::after {
    @apply -rotate-180;
  }

  .wp-block-gprodemi-faq-block .faq-question,
  .wp-block-gprodemi-faq-block .block-faq-question {
    @apply py-7 pr-8 !font-semibold !text-black relative list-none transition-transform duration-300;
  }

  .wp-block-gprodemi-faq-block .faq-question::after,
  .wp-block-gprodemi-faq-block .block-faq-question::after {
    @apply absolute top-1/2 -translate-y-1/2 right-0 text-lg rounded-full transition-transform duration-300;
    content: '\f078';
    font-family: "icomoon";
    font-weight: 900;
  }

  .wp-block-gprodemi-faq-block .block-faq-question::after {
    @apply top-auto;
  }

  .wp-block-gprodemi-faq-block .faq-answer {
    @apply !font-light pb-7;
  }

  .linksInternos,
  .block-linksInternos {
    @apply my-8 w-full flex flex-col gap-4;
  }

  .linksInternos-a,
  .block-linksInternos-a {
    @apply !no-underline !font-medium !text-base !text-black rounded-xl p-4 pr-14 relative text-left transition-colors duration-100 md:!text-[var(--color-links)] md:!bg-white !bg-[var(--color-links)] !text-white border border-[var(--color-links)];
  }

  .linksInternos-a:hover,
  .block-linksInternos-a:hover {
    @apply md:!bg-[var(--color-links)]/10 !bg-[var(--color-links)]/80;
  }

  .linksInternos-a::after,
  .block-linksInternos-a::after {
    @apply top-1/2 -translate-y-1/2 rounded-full absolute right-4 -tracking-[0.25rem];
    content: '\f054 \f054 \f054';
    font-family: "icomoon";
    font-weight: 900;
  }

  .block-linksInternos-a::after {
    @apply top-auto;
  }

  .page-links {
    @apply !text-gray-600 !text-sm my-12;
  }

  .page-link {
    @apply !text-[var(--color-botao)] !text-base p-2.5 px-5 border border-[var(--color-botao)] hover:bg-[var(--color-botao)] hover:!text-white font-semibold rounded-lg mr-1;
  }

  .page-links .current .page-link {
    @apply !bg-[var(--color-botao)] !text-white !cursor-not-allowed;
  }

  .footer-menu :not(:last-child)::after {
    @apply ml-2 md:content-['/'];
  }

  .menu-item {
    @apply py-6;
  }

  #category-cards-home2>a {
    @apply lg:py-4;
  }

  .logo-header path {
    @apply fill-[var(--color-logo)];
  }

  .logo-header svg {
    @apply w-full h-full;
  }

  .soccer-block, .block-soccer-block {
    @apply flex flex-row relative justify-between items-center p-3 sm:p-6 pt-4 sm:pt-8 border border-gray-300 border-t-0 rounded-xl overflow-hidden bg-white;
  }

  .soccer-block-team {
    @apply flex flex-col items-center gap-2 w-1/3 sm:w-full text-center;
  }

  .soccer-block-team p {
    @apply !text-xs sm:!text-sm font-medium leading-tight break-words;
  }

  .soccer-block-team-img {
    @apply h-12 w-12 sm:h-20 sm:w-20 p-2 border border-gray-300 rounded-xl flex items-center justify-center bg-white shadow-sm;
  }

  .soccer-block-team-img img {
    @apply max-h-full max-w-full object-contain;
  }

  .soccer-block-score {
    @apply flex flex-col items-center justify-center gap-2 w-full sm:w-2/3 text-center relative;
  }

  .soccer-block-score-header {
    @apply flex flex-row justify-center items-center absolute top-2 sm:top-4 left-1/2 -translate-x-1/2;
  }

  .soccer-block-score-date {
    @apply !text-xs sm:!text-sm text-gray-500 text-center;
  }

  .soccer-block-score-live {
    @apply relative !text-xs sm:!text-sm font-semibold text-red-600 pl-5 pr-2 rounded-xl bg-red-500/10;
  }

  .soccer-block-score-live::before {
    @apply content-[''] absolute left-1 top-1/2 -translate-y-1/2 rounded-full h-2 w-2 bg-red-500 animate-pulse;
  }

  .soccer-block-score-content {
    @apply flex flex-row items-center justify-center gap-4 sm:gap-8 font-semibold text-[var(--color-logo)] text-center w-full;
  }

  .soccer-block-score-content-scoreboard {
    @apply !text-3xl sm:!text-6xl font-bold flex-1 text-center;
  }
  .soccer-block-score-content-time {
    @apply !text-sm sm:!text-base flex flex-col items-center justify-center;
  }

  .soccer-block-goal-notification {
    @apply absolute text-[var(--color-logo)] bottom-4 right-1/2 translate-x-1/2 !text-sm sm:!text-base font-bold opacity-0 -translate-y-[10px];
    transition: opacity 0.5s ease-out, transform 0.5s ease-out;
  }

  .soccer-block-goal-notification.visible {
    @apply opacity-100 translate-y-0;
  }

  @keyframes goal-shake {
      0% { transform: scale(1.0); }
      25% { transform: scale(1.15) rotate(3deg); }
      50% { transform: scale(1.0) rotate(-3deg); }
      75% { transform: scale(1.15) rotate(3deg); }
      100% { transform: scale(1.0) rotate(0); }
  }

  .soccer-block-score-content.goal-animation {
      animation: goal-shake 0.8s ease-in-out;
  }
}